[submodule "pack/vendor/start/indentLine"]
	path = pack/vendor/start/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule "pack/vendor/start/auto-pairs"]
	path = pack/vendor/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "pack/vendor/start/vim-code-dark"]
	path = pack/vendor/start/vim-code-dark
	url = https://github.com/tomasiser/vim-code-dark.git
